<a href="https://colab.research.google.com/github/Joojina/project_final/blob/master/imdb_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
import ast
%matplotlib inline

In [0]:
df = pd.read_csv('/gdrive/My Drive/Colab Notebooks/usa_cut.csv', error_bad_lines=False, encoding='CP949')

In [0]:
df.drop(['imdb_title_id','original_title','date_published','duration','director','writer','production_company','actors','description','avg_vote','votes','metascore','reviews_from_users','reviews_from_critics'], axis=1, inplace=True)

In [0]:
df['genre_1'] = df.genre.str.split(',').str[0]
df['country_1'] = df.country.str.split(',').str[0]
df['language_1'] = df.language.str.split(',').str[0]

In [0]:
#df.dropna(0, inplace=True)
df.fillna(0, inplace=True)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5193 entries, 0 to 5192
Data columns (total 12 columns):
title                    5193 non-null object
year                     5193 non-null int64
genre                    5193 non-null object
country                  5193 non-null object
language                 5182 non-null object
budget                   2822 non-null float64
usa_gross_income         5193 non-null int64
worlwide_gross_income    5193 non-null int64
s_year                   5193 non-null object
genre_1                  5193 non-null object
country_1                5193 non-null object
language_1               5182 non-null object
dtypes: float64(1), int64(3), object(8)
memory usage: 487.0+ KB

In [0]:
df.columns

Index(['title', 'year', 'genre', 'country', 'language', 'budget',
       'usa_gross_income', 'worlwide_gross_income', 's_year', 'genre_1',
       'country_1', 'language_1'],
      dtype='object')

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error
lr = LinearRegression()

In [0]:
df.fillna(0, inplace=True)

In [0]:
scaler = StandardScaler()
scaler.fit(x)
X_scaled = scaler.transform(x)
np.mean(X_scaled), np.std(X_scaled)

(-3.151839138386915e-17, 0.9999999999999999)

In [0]:
y = df['worlwide_gross_income']
x = df[['budget']] # 예산

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.60

MSE: 1.1604498226202918e+16
RMSE: 107724176.60953793
MAE: 55809962.38994705
R**2: 0.6083413692696448

In [0]:
y = df['worlwide_gross_income']
x = df[['budget','s_year', 'genre_1']] # 세대별, 장르

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.64

MSE: 6338846580841609.0
RMSE: 79616873.71934174
MAE: 27759747.685715884
R**2: 0.6431019223011383

In [0]:
y = df['worlwide_gross_income']
x = df[['budget','s_year', 'genre_1', 'country_1']] # 예산, 세대별, 장르, 국가

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.66

MSE: 6008428569493111.0
RMSE: 77514054.01276024
MAE: 26826485.41596519
R**2: 0.6617055517759034

In [0]:
y = df['worlwide_gross_income']
x = df[['budget','country_1','s_year', 'genre_1']] # 국가, 세대, 장르

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.66

MSE: 6008428569494646.0
RMSE: 77514054.01277013
MAE: 26826485.4160314
R**2: 0.661705551775817

In [0]:
df.columns

Index(['title', 'year', 'genre', 'country', 'language', 'budget',
       'usa_gross_income', 'worlwide_gross_income', 's_year', 'genre_1',
       'country_1', 'language_1'],
      dtype='object')

In [0]:
import pickle

In [0]:
pickle.dump(lr, open( "lr.pkl", "wb" ))

In [0]:
lr_picke = pickle.load( open( "lr.pkl", "rb" ))

In [0]:
result = lr_picke.predict(x_test)

In [0]:
result, type(result)

(array([-5.86062670e-05,  2.54991207e+06, -5.86062670e-05, ...,
        -5.86062670e-05,  1.04897381e+08, -5.86062670e-05]), numpy.ndarray)

In [0]:
'''
lr_picke = pickle.load( open( "lr.pkl", "rb" ))
result = lr_picke.predict(x_test)
result, type(result)
'''

In [0]:
y = df['worlwide_gross_income'] # 전세계 수익
x = df[['usa_gross_income']] # 북미 수익

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.88
# 0.88로 전세계 수익과 북미 수익이 높은 연관성의 띔.

MSE: 3389824513127734.0
RMSE: 58222199.48720363
MAE: 29070279.547275715
R**2: 0.8855914317579054

In [0]:
y = df['usa_gross_income']
x = df[['budget']] # 예산, 북미 수익

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.57

MSE: 1196801000643729.5
RMSE: 34594811.75904459
MAE: 12905215.810136613
R**2: 0.5783624614789754

In [0]:
y = df['worlwide_gross_income']
x = df[['budget', 'usa_gross_income', 's_year', 'genre_1']] # 북미, 세대별, 장르 

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.89

MSE: 2021835588368136.8
RMSE: 44964826.124073215
MAE: 29201974.15383634
R**2: 0.892228582635188

In [0]:
y = df['worlwide_gross_income']
x = df[['budget', 'usa_gross_income' ]] # 북미, 예산
x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.90

MSE: 1661004307496790.8
RMSE: 40755420.59035572
MAE: 15077894.959082356
R**2: 0.906479950755264

In [0]:
y = df['worlwide_gross_income']
x = df[['budget', 'usa_gross_income', 's_year']] # 북미 수익, 세대별

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.91

MSE: 1566114381570617.2
RMSE: 39574163.05584513
MAE: 14784345.120274218
R**2: 0.9118225681737695

In [0]:
y = df['worlwide_gross_income']
x = df[['budget', 'usa_gross_income', 'genre_1', 'country_1']] # 북미, 장르, 국가별

x = pd.get_dummies(x, drop_first=True)

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=77)

lr.fit(x_train, y_train)
lr.score(x_test, y_test)

predictions = lr.predict(x_test)

print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 0.92

MSE: 1374922121708789.8
RMSE: 37079942.3099442
MAE: 13052040.210402641
R**2: 0.922587326264275