<a href="https://colab.research.google.com/github/Joojina/project_final/blob/master/pickle_imdb_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
import ast
%matplotlib inline

In [0]:
df=pd.read_csv("ss_imdb_movies.csv", error_bad_lines=False, encoding='CP949')

In [0]:
df.isnull().sum(axis=1) # 74550개의 imdb 자료

0        0
1        0
2        0
3        0
4        0
        ..
74546    5
74547    4
74548    7
74549    6
74550    4
Length: 74551, dtype: int64

In [0]:
df.head(1)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,s_year
0,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,2019-04-25,"Action, Adventure, Drama",181,USA,"English, Japanese, Xhosa, German","Anthony Russo, Joe Russo",...,After the devastating events of,8.5,602792,356000000.0,858373000.0,2.797801e+09,78.0,8302.0,531.0,10s

In [0]:
# df.dropna(0, inplace=True)

In [0]:
df.drop(0, inplace=True)

In [0]:
df.drop(['imdb_title_id','original_title','date_published','duration','director','writer','production_company','actors','description','avg_vote','votes','metascore','reviews_from_users','reviews_from_critics'], axis=1, inplace=True)

In [0]:
df.isnull().sum(axis=0)

title                        0
year                         0
genre                        0
country                     39
language                   717
budget                   58403
usa_gross_income         60297
worlwide_gross_income    48287
s_year                       0
dtype: int64

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74550 entries, 1 to 74550
Data columns (total 9 columns):
title                    74550 non-null object
year                     74550 non-null int64
genre                    74550 non-null object
country                  74511 non-null object
language                 73833 non-null object
budget                   16147 non-null float64
usa_gross_income         14253 non-null float64
worlwide_gross_income    26263 non-null float64
s_year                   74550 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 5.7+ MB

In [0]:
df.fillna('0', inplace=True)

In [0]:
df.head(1)

,title,year,genre,country,language,budget,usa_gross_income,worlwide_gross_income,s_year
1,Avatar,2009,"Action, Adventure, Fantasy",USA,"English, Spanish",2.37e+08,7.60508e+08,2.78997e+09,00s

In [0]:
df.head(1)

,title,year,genre,country,language,budget,usa_gross_income,worlwide_gross_income,s_year
1,Avatar,2009,"Action, Adventure, Fantasy",USA,"English, Spanish",2.37e+08,7.60508e+08,2.78997e+09,00s

In [0]:
df['genre_1'] = df.genre.str.split(',').str[0]

In [0]:
df['country_1'] = df.country.str.split(',').str[0]

In [0]:
df['language_1'] = df.language.str.split(',').str[0]

In [0]:
df.head(1)

,title,year,genre,country,language,budget,usa_gross_income,worlwide_gross_income,s_year,genre_1,country_1,language_1
1,Avatar,2009,"Action, Adventure, Fantasy",USA,"English, Spanish",2.37e+08,7.60508e+08,2.78997e+09,00s,Action,USA,English

In [0]:
df.columns

Index(['title', 'year', 'genre', 'country', 'language', 'budget',
       'usa_gross_income', 'worlwide_gross_income', 's_year', 'genre_1',
       'country_1', 'language_1'],
      dtype='object')

In [0]:
### 모델링 start

In [0]:
y = df['worlwide_gross_income']
x = df[['budget', 'usa_gross_income', 'genre_1', 's_year', 'country_1']] #'s_year','장르_1', '국가_1','장르_1',

In [0]:
x

         budget usa_gross_income    genre_1 s_year  country_1
1      2.37e+08      7.60508e+08     Action    00s        USA
2         2e+08      6.59364e+08      Drama    90s        USA
3      2.45e+08      9.36662e+08     Action    10s        USA
4      3.21e+08      6.78815e+08     Action    10s        USA
5       1.5e+08      6.52271e+08     Action    10s        USA
...         ...              ...        ...    ...        ...
74546         0                0      Drama   1911    Germany
74547         0                0  Adventure   1911      Italy
74548         0                0    History   1911     Russia
74549         0                0      Drama   1911     Serbia
74550      2250                0  Biography   1906  Australia

[74550 rows x 5 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74550 entries, 1 to 74550
Data columns (total 12 columns):
title                    74550 non-null object
year                     74550 non-null int64
genre                    74550 non-null object
country                  74550 non-null object
language                 74550 non-null object
budget                   74550 non-null object
usa_gross_income         74550 non-null object
worlwide_gross_income    74550 non-null object
s_year                   74550 non-null object
genre_1                  74550 non-null object
country_1                74550 non-null object
language_1               74550 non-null object
dtypes: int64(1), object(11)
memory usage: 7.4+ MB

In [0]:
x.shape

(74550, 5)

In [0]:
y.shape

(74550,)

In [0]:
x.head()

     budget usa_gross_income genre_1 s_year country_1
1  2.37e+08      7.60508e+08  Action    00s       USA
2     2e+08      6.59364e+08   Drama    90s       USA
3  2.45e+08      9.36662e+08  Action    10s       USA
4  3.21e+08      6.78815e+08  Action    10s       USA
5   1.5e+08      6.52271e+08  Action    10s       USA

In [0]:
x = pd.get_dummies(x, drop_first=True)

In [0]:
x.head()

,budget_2.0,budget_4.0,budget_5.0,budget_6.0,budget_18.0,budget_20.0,budget_21.0,budget_45.0,budget_50.0,budget_70.0,...,country_1_Uganda,country_1_Ukraine,country_1_United Arab Emirates,country_1_Uruguay,country_1_Venezuela,country_1_Vietnam,country_1_West Germany,country_1_Yemen,country_1_Yugoslavia,country_1_Zambia
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, \
                                                    random_state=77)

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
lr = LinearRegression()

In [0]:
lr.fit(x_train, y_train)
lr.score(x_test, y_test) # fit으로 학습

In [0]:
from sklearn import metrics
import numpy as np

In [0]:
predictions = lr.predict(x_test)

In [0]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [0]:
print('MSE:',mean_squared_error(y_test, predictions))
print('RMSE:',np.sqrt(mean_squared_error(y_test, predictions)))
print('MAE:',mean_absolute_error(y_test, predictions))
print('R**2:',lr.score(x_test, y_test))# 1에 가까울 수록 좋음.

MSE: 1.7984195750063366e+21
RMSE: 42407777293.868355
MAE: 13737493512.467857
R**2: -72961.91512429455

In [0]:
import pickle

In [0]:
pickle.dump(lr, open( "lr.pkl", "wb" ) )

In [0]:
lr_picke = pickle.load( open( "lr.pkl", "rb" ) )

In [0]:
result = lr_picke.predict(x_test)

In [0]:
result, type(result)

(array([  7892656.09196472, -30988975.37811279,  96503622.12637329, ...,
        -15099329.65956116, -28883523.37423706, -14666096.91227722]),
 numpy.ndarray)

In [0]:
import pickle

pickle.dump(lr, open( "lr.pkl", "wb" ) )

lr_picke = pickle.load( open( "lr.pkl", "rb" ) )

result = lr_picke.predict(x_test)


result, type(result)